
<ng-template class="form" #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Опишите проблему</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form >
          <p>Провайдер:
            <select name="provider" [(ngModel)]='provider'>
              <option value="Ростелеком">Ростелеком</option>
              <option value="QWERTY">QWERTY</option>
              <option value="МГТС">МГТС</option>
              <option value="Авокадо">Авокадо</option>
              <option value="Спидилайн">Спидилайн</option>
            </select>
          </p>
          <p>В каком городе произошел сбой:<input type="text" [(ngModel)]='city' name="city"></p>
          <p>Дата сбоя:<input type="date" [(ngModel)]='date1' name="date1"></p>
          <p>Время сбоя:<input type="time" [(ngModel)]='date2' name="date2"></p>
          <p>Описание проблемы:<input type="text" [(ngModel)]='text' name="text"></p>
          <p>Оцените качество услуг провайдера:<ngb-rating [(rate)]="currentRate">
          <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
          </ngb-rating></p>
          <input (click)="rateTo()" type="sumbit" class="btn btn-outline-dark" (click)="modal.close('Save click')" value="Отправить">
        </form>
        
    </div>
    
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Сообщить о сбое</button>
  