<div style="color:black;">
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Как подключить и настроить Wi-Fi роутер?">
      <ng-template ngbPanelContent>
        Понятно, что сама страница с настройками, и разделы отличаются в зависимости от производителя и модели маршрутизатора, но порядок настройки всегда будет примерно таким:
<br/><br/>Установка и подключение роутера. Его нужно распаковать (если он новый), подключить к нему адаптер питания, выбрать место для установки, подключить интернет (кабель от интернет-провайдера) и подключить устройство, с которого будем выполнять настройку. По Wi-Fi, или по кабелю. Проще всего, конечно же, для настройки подключатся по кабелю. С компьютера, или ноутбука.
<br/><br/>Вход в настройки маршрутизатора. Когда все кабеля подключены, роутер включен и наше устройство так же к нему подключено, нам нужно открыть панель управления. Это можно сделать перейдя в браузере по адресу, который указан снизу самого роутера. На странице авторизации нужно указать заводские имя и логин. Они так же указаны на самом устройстве.
<br/><br/>Настройка подключения к интернету. Нужно настроить роутер на подключение к интернет-провайдеру. В соответствующем разделе (WAN, Интернет), нужно выбрать тип подключения, который использует ваш провайдер и уже в зависимости от типа подключения нужно задать параметры (имя пользователя, пароль).
<br/><br/>Настройка Wi-Fi сети. Смена заводского названия и пароля беспроводной сети.
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>&#9733; Настройка интернета. Самый главный шаг &#9733;</span>
      </ng-template>
      <ng-template ngbPanelContent>
<br/><br/>Главное, это правильно настроить роутер на подключение к провайдеру. Если он не сможет подключится к интернету, то на всех устройствах будет подключение "Без доступа к интернету". Многие пользователи, которые пробуют настроить все своими руками, чаще всего сталкиваются с проблемами именно на этом этапе.
Каждый интернет-провайдер использует определенный тип подключения. Динамический IP (DHCP), Статический IP, PPPoE, L2TP, PPTP. Этот тип подключения нужно указать в панели управления маршрутизатором, и задать определенные параметры, которые выдает интернет-провайдер.
<br/><br/>Важно! Вы должны точно знать, какой тип подключения у вашего провайдера. Так же все необходимые данные для подключения (имя пользователя, пароль), если они необходимы. Как правило, эта информация указана в договоре, которые вы получили при подключении к интернету.
Некоторые провайдеры делают привязку по MAC-адресу. Это так же желательно уточнить.
<br/><br/>Если ваш провайдер использует подключение по "Динамический IP" (DHCP), то интернет должен работать сразу после подключения, так как на маршрутизаторах этот тип подключения выставлен по умолчанию.
<br/>Если интернет через роутер уже работает (и вы не запускали никаких подключений на компьютере), то можете пропускать этот раздел и сразу переходить к настройке Wi-Fi.
<br/>Когда тип подключения PPPoE, L2TP, PPTP, или Статический IP (что очень редко), то нужно задать необходимые параметры. Обычно, это логин и пароль, которые выдал вам провайдер. В панели управления, раздел с этими настройками чаще всего называется: "WAN", "Internet", "Интернет".
      </ng-template>
    </ngb-panel>
</ngb-accordion>
</div>