.base{
    color:white;
    display: grid;
    grid-template-areas:
    "a c b d"
    "e e e e"
    "f f f f";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 2em;
    padding-bottom: 50px;
}
.header{
    font-size: 2.5em;
    grid-area:a;
    margin-left: 15px;
}
.news {
    font-size: 2.5em;
    grid-area: b;
    text-align: center;
}
.tut {
    font-size: 2.5em;
    grid-area: c;
    text-align: center;
}
.button { 
    grid-area: d; 
    text-align: right;
    margin-right:10px
}
.graph{ 
    grid-area: e; 
}
.routlet { 
    grid-area: f; 
    grid-row: 100%;
} 